/* Style for bio container */
.bio-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Style for profile picture */
.bio-picture {
  max-width: 100%;
  max-height: 100%;
  float: left;
  width: 150px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Style for bio text */
.bio-text {
  margin-left: 160px;
}

